<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>咽喉恶性肿瘤</string>
	<string>咽侧壁恶性肿瘤</string>
	<string>软腭肿瘤后放疗后畸形</string>
	<string>咽喉恶性肿瘤</string>
	<string>软腭肿瘤后放疗后畸形</string>
	<string>颊部炎性肿瘤</string>
	<string>咽侧壁恶性肿瘤</string>
	<string>咽喉恶性肿瘤</string>
	<string>颊部炎性肿瘤</string>
	<string>咽喉恶性肿瘤</string>
	<string>颊部炎性肿瘤</string>
	<string>软腭肿瘤后放疗后畸形</string>
</array>
</plist>
