<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mainSj</key>
		<string>内科</string>
		<key>branchSj</key>
		<array>
			<string>感冒(呼吸内科)</string>
			<string>肺气肿(呼吸内科)</string>
			<string>高血压(心血管内科)</string>
			<string>哮喘(呼吸内科)</string>
			<string>慢性胃炎(消化内科)</string>
			<string>胃癌(消化内科)</string>
			<string>便秘(消化内科)</string>
			<string>尿路感染(肾内科)</string>
			<string>慢性肾炎(肾内科)</string>
			<string>肾积水(肾内科)</string>
			<string>尿道炎(肾内科)</string>
			<string>头痛(神经内科)</string>
			<string>癫痫(神经内科)</string>
			<string>神经衰弱(神经内科)</string>
			<string>支气管扩张(呼吸内科)</string>
			<string>先心病(心血管内科)</string>
			<string>慢性腹泻(消化内科)</string>
		</array>
	</dict>
	<dict>
		<key>mainSj</key>
		<string>外科</string>
		<key>branchSj</key>
		<array>
			<string>先天性心脏病(外科)</string>
			<string>肺癌(外科)</string>
			<string>急性阑尾炎(外科)</string>
			<string>股骨头坏死(外科)</string>
			<string>腰肌劳损(外科)</string>
			<string>骨质疏松(外科)</string>
			<string>腰椎间盘突出症(外科)</string>
			<string>直肠癌(外科)</string>
			<string>胆结石(外科)</string>
			<string>蛛网膜下腔出血(外科)</string>
			<string>肛裂(外科)</string>
			<string>胸腺瘤(外科)</string>
			<string>肝包虫囊肿(外科)</string>
			<string>肾结石(外科)</string>
		</array>
	</dict>
	<dict>
		<key>mainSj</key>
		<string>男科</string>
		<key>branchSj</key>
		<array>
			<string>早泄(男科)</string>
			<string>小阴茎(男科)</string>
			<string>前列腺炎(男科)</string>
			<string>阳痿(男科)</string>
			<string>遗精(男科)</string>
			<string>不射精症(男科)</string>
			<string>精囊炎(男科)</string>
			<string>睾丸扭转(男科)</string>
			<string>淋病合并症前列腺炎(男科)</string>
		</array>
	</dict>
	<dict>
		<key>mainSj</key>
		<string>妇科</string>
		<key>branchSj</key>
		<array>
			<string>阴道横隔(妇科)</string>
			<string>难产(产科)</string>
			<string>流产(产科)</string>
			<string>月经不调(妇科)</string>
			<string>性交疼痛(妇科)</string>
			<string>早产(产科)</string>
			<string>宫颈糜烂(妇科)</string>
			<string>子宫肌瘤(妇科)</string>
			<string>霉菌性阴道炎(妇科)</string>
			<string>胎盘早剥(产科)</string>
			<string>乳腺癌(妇科)</string>
			<string>盆腔炎(妇科)</string>
		</array>
	</dict>
	<dict>
		<key>mainSj</key>
		<string>儿科</string>
		<key>branchSj</key>
		<array>
			<string>手足口病(儿科)</string>
			<string>小儿感冒(儿科)</string>
			<string>婴幼儿腹泻(儿科)</string>
			<string>小儿厌食症(儿科)</string>
			<string>新生儿败血症(儿科)</string>
			<string>麻疹(儿科)</string>
			<string>水痘(儿科)</string>
			<string>风疹(儿科)</string>
		</array>
	</dict>
	<dict>
		<key>mainSj</key>
		<string>五官科</string>
		<key>branchSj</key>
		<array>
			<string>急性咽炎(耳鼻喉科)</string>
			<string>鼻息肉(耳鼻喉科)</string>
			<string>口臭(口腔科)</string>
			<string>弱视(眼科)</string>
			<string>麦粒肿(眼科)</string>
			<string>青光眼(眼科)</string>
			<string>白内障(眼科)</string>
			<string>沙眼(眼科)</string>
			<string>近视眼(眼科)</string>
			<string>地图舌(口腔科)</string>
			<string>单纯性牙周炎(口腔科)</string>
			<string>扁平苔癣(口腔科)</string>
		</array>
	</dict>
</array>
</plist>
