<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京市第三人民医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市西城区一个小胡同口</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>解放军301总医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市海淀区五道口附近</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>illness_img_person.png</string>
		<key>name</key>
		<string>北京协和医院</string>
		<key>rank</key>
		<string>三级甲等</string>
		<key>area</key>
		<string>北京市东城区帅府路一号</string>
	</dict>
</array>
</plist>
