<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>北京协和医院</string>
	<string>医科院肿瘤医院</string>
	<string>北京市大兴区妇幼保健院</string>
	<string>北京大学第四临床医学院北京积水潭医院(新街口院区)</string>
	<string>北京大学第四临床医学院北京积水潭医院(新街口院区)</string>
	<string>医科院肿瘤医院</string>
	<string>北京协和医院</string>
	<string>医科院肿瘤医院</string>
	<string>北京协和医院</string>
	<string>北京大学第四临床医学院北京积水潭医院(新街口院区)</string>
	<string>医科院肿瘤医院</string>
	<string>北京协和医院</string>
	<string>北京协和医院</string>
</array>
</plist>
