<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>重点科室</string>
	<string>内科</string>
	<string>肿瘤科</string>
	<string>其他科室</string>
	<string>外科</string>
	<string>妇产科学</string>
	<string>医学影像科</string>
	<string>麻醉医学科</string>
	<string>介入医学科</string>
	<string>妇产科学</string>
	<string>肿瘤科</string>
	<string>重点科室</string>
	<string>介入医学科</string>
    
    <string>普通妇科</string>
    <string>基本外科</string>
    <string>骨科</string>
    <string>神经科</string>
    <string>眼科</string>
    <string>麻醉科</string>
    <string>内分泌科</string>
    <string>皮肤科</string>
    <string>呼吸内科</string>
    <string>风湿免疫科</string>
    <string>消化内科</string>
    <string>放射科</string>
    <string>耳鼻咽喉科</string>
    <string>泌尿外科</string>
    <string>血液内科</string>
    <string>产科</string>
    <string>妇科肿瘤</string>
    
    <string>心内科</string>
    <string>呼吸内科</string>
    <string>肾内科</string>
    <string>血液内科</string>
    <string>内分泌科</string>
    <string>神经科</string>
    <string>老年医学科</string>
    <string>普通内科</string>
    <string>消化内科</string>
    <string>风湿免疫科</string>
    <string>变态反应科</string>
    
    
    <string>肿瘤内科</string>
    <string>放疗科</string>
    
    <string>重症医学科（ICU）</string>
    <string>健康体检中心</string>
    <string>行政职能处室</string>
    <string>药剂科</string>
    <string>检验科</string>
    <string>病案科</string>
    <string>干部诊疗科</string>
    <string>临床药理中心</string>
    
    <string>基本外科</string>
    <string>泌尿外科</string>
    <string>整形美容外科</string>
    <string>心外科</string>
    <string>胸外科</string>
    <string>乳腺外科</string>
    <string>血管外科</string>
    <string>肝脏外科</string>
    
    <string>普通妇科</string>
    <string>产科</string>
    <string>计划生育科</string>
    <string>妇科肿瘤</string>
    <string>生殖内分泌</string>
    <string>妇泌尿</string>
    
    <string>核医学科</string>
    <string>放射科</string>
    <string>超声医学科</string>
    
    <string>疼痛门诊</string>
    <string>麻醉科</string>
    
    <string>介入治疗科</string>
</array>
</plist>
